*{
  box-sizing: border-box;
}
html{
  --side-padding: 5rem;
  font-size: 62.5%;
}
body{
  margin: 0;
  font-size: 1.8rem;
  font-family: 'PT Serif', serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
}
a{
  text-decoration: none;
  color: #905656;
}
.navigation{
  display: flex;
  justify-content: space-between;
  padding: var(--side-padding) 3rem 1rem;
  svg{
    width: 3rem;
    position: relative;
    z-index: 100;
  }
  span{
    display: block;
    position: relative;
    height: 100%;
    &::after, &::before{
      content: '';
      position: absolute;
      left: 0;
      width: 100%;
      height: .2rem;
      background: #000;
      transition: transform .2s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    }
    &::before{
      top: 0;
    }
    &::after{
      bottom: 0;
    }
  }
  button{
    position: relative;
    z-index: 100;
    appearance: none;
    width: 3rem;
    height: 1.4rem;
    margin-top: .7rem;
    padding: 0;
    border: 0;
    color: transparent;
    background: transparent;
    outline: none;
    cursor: pointer;
    &:hover{
      span::before{
        transform: translateY(-.8rem);
      }
      span::after{
        transform: translateY(.8rem);
      }
    }
    .opened &{
      span::before{
        transform-origin: top left;
        transform: translateY(-.5rem) rotate(45deg);
      }
      span::after{
        transform-origin: bottom left;
        transform: translateY(.5rem) rotate(-45deg);
      }
    }
  }
}
section{
  position: relative;
}
.section-one{
  min-height: 60rem;
  padding: var(--side-padding) var(--side-padding) 2rem;
  h1{
    position: relative;
    width: 35rem;
    margin-top: 14rem;
    margin-bottom: 0;
    font-size: 8rem;
    font-family: 'Playfair Display', serif;
    font-weight: lighter;
    > span{
      display: block;
      overflow: hidden;
      line-height: 1.3;
      &:nth-of-type(2) {
        position: absolute;
        top: -7.5rem;
        right: -2rem;
        font-family: 'Playfair Display SC', serif;
        font-size: 16rem;
      }
      &::last-of-type {
        margin-top: -3rem;
        margin-left: 3rem;
      }
      span{
        display: inline-block;
        animation: rollup 2s ease;
        animation-fill-mode: both;
      }
    }
    @media(max-width: 470px) {
      margin-top: 8rem;
      font-size: 5rem;
      > span:nth-of-type(2) {
        top: -1rem;
        left: 45%;
        right: auto;
        font-size: 7.5rem;
      }
    }
  }
  h3{
    margin: 0;
    font-size: 2.6rem;
  }
  svg{
    position: absolute;
    top: 0;
    left: -8rem;
    z-index: -1;
    width: 80%;
    max-width: 60rem;
    fill: #f5f5f5;
  }
}
.section-two{
  position: relative;
  min-height: 80rem;
  padding: var(--side-padding);
  background: #FDF3F3;
  overflow: hidden;
  svg{
    position: absolute;
    width: 4rem;
    height: 4rem;
  }
  .plus-a{
    left: 310px;
  }
  .love-a{
    left: 180px;
  }
  .plus-b, .love-b, .triangle-b{
    bottom: 80px;
  }
  .triangle-b{
    left: 120px;
  }
  .love-b{
    left: 250px;
  }
}
.section-two::after{
  content: '';
  position: absolute;
  left: 0;
  top: -2rem;
  width: 100%;
  height: 10rem;
  background: url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 1700 132' xmlns='http://www.w3.org/2000/svg' fill-rule='evenodd' clip-rule='evenodd' stroke-linejoin='round' stroke-miterlimit='2'%3E%3Cpath d='M.36 27.207s1105.773-39.672 1243.021 20.66c74.923 32.934 103.797 85.177 134.488 84 30.688-1.175 59.79-84.841 145.622-97.76 85.83-12.918 174.147-5.812 174.147-5.812L1699.996 0H0l.36 27.207z' fill='%23ffffff'/%3E%3C/svg%3E");
  background-size: 100% 100%;
}
.section-three{
  height: 70rem;
  padding: var(--side-padding) 0;
  overflow: hidden;
  text-align: right;
}
.section-three::after{
  content: '';
  position: absolute;
  left: 0;
  top: -2rem;
  width: 100%;
  height: 10rem;
  background: url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 1700 132' xmlns='http://www.w3.org/2000/svg' fill-rule='evenodd' clip-rule='evenodd' stroke-linejoin='round' stroke-miterlimit='2'%3E%3Cpath d='M.36 27.207s1105.773-39.672 1243.021 20.66c74.923 32.934 103.797 85.177 134.488 84 30.688-1.175 59.79-84.841 145.622-97.76 85.83-12.918 174.147-5.812 174.147-5.812L1699.996 0H0l.36 27.207z' fill='%23fdf3f3'/%3E%3C/svg%3E");
  background-size: 100% 100%;
  transform: scaleX(-1);
}
@media(max-width: 770px) {
  .section-two::after, .section-three::after {
    top: -3rem;
  }
}
@media(max-width: 520px) {
  .section-two::after, .section-three::after {
    top: -4rem;
  }
}
.ceremony-container{
  --opacity: .2;
  width: 100%;
  height: 520px;
  margin-top: 80px;
  background: linear-gradient(rgba(200, 200, 200, var(--opacity)), rgba(200, 200, 200, var(--opacity))), url(https://res.cloudinary.com/strich/image/upload/v1563942580/flower-bg_snfeep.jpg);
  background-size: cover;
  background-attachment: fixed;
  text-align: left;
  overflow: hidden;
  svg{
    width: 100%;
    font-size: 30px;
  }
  @media (max-width: 620px) {
    svg{
      width: 100%;
    }
    path{
      transform-origin: top left;
      transform: scale(0.6) translateX(-40%);
    }
    text{
      transform: scale(1.5) translateX(1%);
    }
  }
}
footer{
  position: relative;
  height: 15rem;
  overflow: hidden;
  p{
    position: absolute;
    right: 2rem;
    bottom: 0;
  }
}
// Images
.image-container{
  border-radius: 2rem;
  overflow: hidden;
  box-shadow: .4rem .8rem .8rem rgba(0, 0, 0, .3);
  &:hover{
    img{
      transform: scale(1.3) translateX(-10px) translateY(10px);
    }
  }
  img{
    transition: transform 5s cubic-bezier(0.645, 0.045, 0.355, 1);
  }
}
.first-image{
  position: absolute;
  top: 15rem;
  right: 20rem;
  width: 300px;
  height: 400px;
  @media (max-width: 1010px) {
    top: 20rem;
    right: 8rem;
    width: 280px;
    height: 380px;
  }
  @media (max-width: 780px) {
    position: static;
    width: 100%;
    height: 900px;
    margin: 110px 0 30px;
    img{
      margin-top: -80px;
      width: 110%;
      height: auto;
    }
  }
  @media (max-width: 670px) {
    height: 500px;
  }
  @media (max-width: 430px) {
    height: 320px;
  }
  @media (max-width: 330px) {
    height: auto;
    img{
      margin-top: -10px;
    }
  }
}
// Extras
.blob-container{
  position: absolute;
  bottom: -1rem;
  right: 25rem;
  width: 30rem;
  height: 30rem;
  transform: scale(.8) rotate(0deg);
  transform-origin: center;
  animation: rolldance 4s ease infinite alternate;
  @media (max-width: 1010px) {
    display: none;
  }
}
.quotes{
  position: absolute;
  top: 2rem;
  right: 2rem;
  transform: rotate(45deg);
  opacity: .3;
  font-family: 'Petit Formal Script', cursive;
}
.wave{
  position: absolute;
  top: 35rem;
  left: 0;
  right: 0;
  height: 100vw;
  margin-top: -200px;
  margin-left: -200px;
  background: rgb(184, 123, 119);
  border-radius: 40%;
  opacity: .4;
  animation: shift 3s infinite linear;
  &.w2{
    background: #905656;
    opacity: .1;
    animation: shift 7s infinite linear;
  }
  &.w3{
    animation: shift 5s infinite linear;
    background: rgb(107, 12, 131);
    opacity: .1
  }
}
.filled-heading {
  text-transform: uppercase;
  font-family: 'helvetica', sans-serif;
  font-size: 5em;
  font-weight: bolder;
  line-height: 0.9;
}

/* Animate the background shapes */
.registry-background path {
  transform-origin: 50% 50%;
  transform-box: fill-box;
}
.registry-background path:nth-of-type(2n) {
  animation: rotate 20s linear infinite;
}
.registry-background path:nth-of-type(2n + 1) {
  animation: rotate 30s linear reverse infinite;
}

.hidden-nav{
  display: flex;
  align-items: flex-end;
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;
  height: 100vh;
  padding: 40px;
  background: #ddd;
  transform: translateY(-100vh);
  opacity: 0;
  transition: all 1s ease;
  font-size: 60px;
  font-family: 'Staatliches', cursive;
  @media(max-width: 655px) {
    font-size: 30px;
  }
  .opened &{
    transform: translateY(0);
    opacity: 1;
  }
  a{
    color: inherit;
  }
  ul{
    list-style: none;
    margin: 0;
    padding: 0;
  }
  li{
    padding: 20px 0;
  }
  li > span{
    display: block;
    line-height: 1.0;
    overflow: hidden;
    span{
      color: #555;
    }
    a, span{
      display: inline-block;
      .opened &{
        animation: rollup 1.5s ease;
        animation-fill-mode: both;
        animation-delay: .3s;
      }
    }
  }
}

.gallery{
  display: grid;
  grid-template-columns: 27% 73%;
  grid-template-rows: 50% 50%;
  position: absolute;
  top: 150px;
  right: -40px;
  height: 600px;
  background: rgba(#69131b, .7);
  > :first-child{
    grid-column: 2 / 4;
    height: 600px;
  }
  > :nth-child(2) {
    grid-column: 1;
    grid-row: 1;
  }
  img, .cell{
    mix-blend-mode: luminosity;
  }
  @media (max-width: 1300px) {
    width: 800px;
    height: 560px;
    img{
      object-fit: cover;
      object-position: center;
      width: 100%;
    }
  }
  @media (max-width: 890px) {
    position: static;
    width: 100%;
    margin: 10rem 0;
  }
  @media(max-width: 740px) {
    height: 305px;
  }
  @media(max-width: 470px) {
    height: 200px;
  }
}

.shout{
  margin-top: 0;
  padding-right: 30px;
  font-family: 'Staatliches', cursive;
  font-weight: 100;
  font-size: 90px;
  color: rgba(0, 0, 0, .04);
  @media (max-width: 1070px) {
    font-size: 50px;
  }
}

.splitting .cell {
  transform: 
    translateY( 
      calc(
        ((var(--distance-x) + 1) * var(--viewport-y) * -10%)
        + (var(--viewport-y) * -10%)
      )
    );
}

.announcement{
  position: absolute;
  right: 0;
  width: 100%;
  max-width: 520px;
  padding: 20px 80px 20px 80px;
  background: #fafafa;
  box-shadow: 15px 18px 8px rgba(0, 0, 0, .05);
  h2{
    margin: 10px 0;
  }
  @media(max-width: 1030px) {
    position: static;
    margin: 5rem 0;
    box-shadow: none;
    transform: none !important;
  }
}

.registry{
  margin-bottom: 200px;
  text-align: center;
  a{
    display: inline-block;
    width: 220px;
    height: 76px;
    color: #777;
    border: solid medium #eee;
    font-size: 2rem;
  }
  span{
    display: inline-block;
    width: inherit;
    padding: 20px;
    transition: all 1s ease;
  }
  a:hover span{
    background: rgba(#ffa5a5, .5);
    transform: translate3d(10px, 10px, 0);
  }
}

@keyframes rotate {
  0% { transform: rotate(0); }
  100% { transform: rotate(360deg); }
}
@keyframes shift{
  from{
    transform: rotate(360deg);
  }
}
@keyframes rolldance{
  0%{
    transform: scale(.8) rotate(15deg);
  }
  100%{
    transform: scale(1) rotate(-15deg);
  }
}
@keyframes rollup {
  0%{
    transform: translateY(110%);
  }
}